{#{% extends "base.html" %}#}
{% extends "index.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
<meta charset="utf-8">
<link href="css/base.css" rel="stylesheet">
<link href="css/about.css" rel="stylesheet">
<link href="css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
        <p> About Me 正在建设中 </p>
</div><!-- /.blog-post -->
{% endblock %}




