{% extends "oindex.html" %}
{% load custom_markdown %}

{% block content %}
    {% if list_header %}
        <div class="box">{{ list_header }}共有{{ posts|length}}篇</div></br>
    {% endif %}
    {% for post in posts %}
        <meta charset="utf-8">
        <div class="post">
				<h2 class="title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>
                <p class="meta">
                    <span class="date">{{ post.published_date|date:'Y-m-d'}}</span>
                    <span class="posted"><a href="#">{{ post.author }}</a></span>
                    <span class="tag"><a href="{% url 'search_tag' tag=post.tag %}">{{ post.tag|title }}</a></span>
                    <span class="views"><a href="/">459</a></span>
                    <span class="comments"><a href="/">30</a></span>
                </p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
                    <p>
                        {{ post.text|custom_markdown|truncatewords:2}}
                        <a class="readmore" href="{% url 'detail' id=post.id %}">More >>></a>
                    </p>
				</div>
			</div>
    {% endfor %}

        {% if posts.object_list and posts.paginator.num_pages > 1 %}
          <div>
          <ul class="pager">
          <p>
          {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
          {% endif %}

              {% for page_number in posts.paginator.page_range %}
                {% ifequal page_number  topics.number %}
                  {{ page_number }}
                {% else %}
                  <a href="?page={{ page_number }}">{{ page_number }}</a>
                {% endifequal %}
              {% endfor %}

          {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
          {% endif %}
          </p>
          </ul>
          </div>
        {% endif %}
{% endblock %}