{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ameth</title>
<meta name="keywords" content="-----" />
<meta name="description" content="-----" />
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/media.css' %}" rel="stylesheet">
<link rel="stylesheet" href="http://picturebag.qiniudn.com/vim.css">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>ace_hjm</h1>
    <h2>偶尔，遇到自己</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="/">首页</a><a href="{% url 'aboutme' %}">关于我</a><a href="{% url 'archives' %}">归档</a><a href="https://github.com/acehjm">github</a><a href="http://weibo.com/mjh20">weibo</a></nav>
  </header>
  <article>
    <div class="bloglist">
      <h2>
        <p><span>文章</span></p>
      </h2>

        {% block content %}
        {% endblock %}

    </div>
  </article>

  <aside>
    <div class="avatar"><a href="{% url 'aboutme' %}"><span>ameth</span></a></div>
    <div class="topspaceinfo">
      <h1>像这样笨拙的生活</h1>
      <p>我们受伤,痊愈,再受伤,再痊愈</p>
    </div>
    <div class="about_c">
      <p>网名：ameth</p>
      <p>职业：想到什么做什么</p>
      <p>邮箱：amethphoenix@gmail.com</p>
    </div>
    <div class="tj_news">
            <form class="pure-form" action="/search/" method="get">
                <input class="pure-input-3-3" type="text" name="s" placeholder="search">
            </form>
      <h2>
        <p class="tj_t1">最新文章</p>
      </h2>
      <ul>
        {% for post in posts %}
            <li><link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <h2><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>
        {% endfor %}</li>
      </ul>
      <h2>
        <p class="tj_t2">文章分类</p>
      </h2>
      <ul>
        {% if categories %}
        {% for c in categories %}
            <li>- <a href="{% url 'list_by_cg' c.name %}">{{ c.name|safe }}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
      <h2>
        <p class="tj_t1">时间分类</p>
      </h2>
      <ul>
        {% if categories %}
        {% for c in posts %}
    {#        <li>- <a href="{% url 'archive_month_numeric' %}">#}
            <li>
                  {{ c.published_date.year }}年{{ c.published_date.month }}月
            </li>

    {#        </a></li>#}
        {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="links">
      <h2>
        <p>友情链接</p>
      </h2>
      <ul>
        <li><a href="http://www.droid4.us">droid4us</a></li>
        <li><a href="http://blog.csdn.net/u012607848">ameth's CSDN</a></li>
      </ul>
    </div>
    <div class="copyright">
      <ul>
        <p><a class="button-success pure-button" href="{% url 'RSS' %}">RSS</a></p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 -->
</div>
</body>
</html>
