{% load staticfiles %}
{% load custom_markdown %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/vim.css' %}">

<title>ace_hjm</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="/">ace_hjm</a></h1>
        <a href="{% url 'oneblog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                    {% for post in posts %}
                        <div class="post">
                            <h1><a href="{% url 'oneblog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                            <a class="btn btn-default" href="{% url 'oneblog.views.post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <p> {{ post.published_date }}</p>
                            <p>{{ post.text| custom_markdown| truncatewords:10}}</p>
                            <a class="pure-button" href="{% url 'oneblog.views.post_detail' pk=post.pk %}">More >>> </a>
                        </div>
                    {% endfor %}
                {% endblock %}

            </div>
        </div>
    </div>
</body>
</html>